*.gitignore
*.class
*.o
*.mp4
.directory
Tabulado\ 2018-II-Adiciones.pdf 
Tabulado\ 2018-II.pdf

# Visual Studio and Visul Studio Code (Files) 
*.vcxproj
*.sln
*.filters
*.user
*.json
#-----------VS-Folders--------------
.vs*
debug*
#----------Eclipse Folders-------------
.metadate
.settings
#----------Eclipse Files---------------
*.classpath
*.project

